/*
  @Author: tcly861204
  @Date:   2022/1/6 上午12:12:03
  @Last Modified by:   tcly861204
  @Last Modified time: 2022/1/6 上午12:12:03
  @Github: https://tcly861204.github.io
*/
$namespace: 'cn';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';
